*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/back.jpeg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.container{
    position: relative;
    width: 90%;
    height: 87vh;
    border: 5px solid rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: black;
    cursor: pointer;
    background: none;
    
   /* border: none;
    text-decoration: underline;
    outline: none;*/
}
.greeting{
    font-family: 'Courier New';
    font-size: 120px;
    color: rgba(3, 91, 107, 0.87);
    font-weight: 800;
    text-transform: capitalize;
}

.enter {
    width: 10%;
    height: 50px;
    border-radius: 25px;
    background: rgba(3, 91, 107, 0.87);
    font-size: 20px;
    font-weight: bolder;
    border: none;
    color:rgba(233, 237, 238, 0.884);
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;
    border: 1px solid rgb(110, 102, 85);
  }


